name: CI Pipeline

on:
  push: 
    branches: 
      - main
  pull_request: 
    branches: 
      - main
  workflow_dispatch: 
    

jobs: 
  unit-tests: 
    name: Run unit-tests 
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout repository
        uses: actions/checkout@v3
        # recup le code deouis la repo (actions est le owner (github actions ici car c une action faite et proposée par github action) et le @v3 est la version)

      - name: Setup Node.js 
        uses: actions/setup-node@v3
        #installe node22
        with: 
          node-version: 22

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependincese
        run: pnpm install
        # omme son nom l'indique

      - name: format checks + modif
        run: pnpm format 
        #utilise le format du package.json
        #avant ct en check mtn j'ai enlevé pour que ca corrige auto

      - name: Lint checks + modif
        run: pnpm lint:fix
        #meme chose la on fait les modifs direct

      - name: Run unit tests
        run: pnpm test

      - name: Doc build tests
        run: pnpm build-storybook

      - name: install browsers for playwright (tests e2e)
        run: pnpm exec playwright install --with-deps

      - name: E2E tests 
        run: pnpm test:e2e

      - name: Build test
        run: pnpm build
